
.pic img
{
	border-radius: 0;
	text-align: center;
	width: 100%;
}
aside.right,aside.left
{
	text-align: center;
	float: inherit;

}

#container
{
	width: 100%;
	margin: 0;
	padding: 0;

}

section.box
{
	width: 100%;
}
.footer
{
	width: 100%;
}

.right img
{
	width: 250px;
	height: 250px;
	text-align: center;
}