/*
 * General Styles
*/


body {
 font-family: 'Satisfy', cursive;
 background: url(../images/colorful-balloons.jpeg);
 /*padding: 50px ;*/
 background-size: cover;
 background-attachment: fixed;
 background-position: center;

  
} 

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  
  font-family: 'Satisfy', cursive;
  font-size: 1rem ;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Dancing Script', cursive;
  color: #ffe72d;
}
html
{
  font-size: 20px;
}

h1
{
  padding: 20px 20px 20px 20px;
  font-size: 2rem;
  
}

h2
{
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}




/*
  Here rem is a relative measurement.
  As we have given some standard pixel size in HTML which is the highest enclosing tag,
  when we use rems in any other tags, the size will be taken as the multiple of the standard one.
  Eg:  font-size: 20px; In HTML
   and font-size: 2rem; In h1
   Gives us the twice the multiple of the standard size in the h1 Heading.
*/

  

/*
 * Container Styles
*/

#container
{
  
  width: 750px;
  margin: 100px auto;
  text-align: center;
  margin-top: 100px;
  background: #7ac043 ;
  border-radius: 20px;

}

/*
 * box Styles
*/



/*
 * pic Styles
*/

.pic img
{
  border-radius: 20px 20px 0 0;
  width: 100%;

}



/*
 * Section Styles
*/

section.pic
{
  
  text-align: center;
  margin-bottom: 50px;
  border-radius: 20px

}

section.box
{
  padding: 50px;
  width: 100%;
  text-align: center;
  background: #30c3e4;
  border-radius: 0 0 20px 20px;
}
section.box a
{
  text-decoration: none;
}

a:hover
{
  color: orangered;
  margin-top: 100px;
}

section.intro
{
   padding: 20px 50px 50px 50px;
}


/*
 * Aside Styles
*/
aside.right
{
  float: right;
  margin-left: 40px;
}
aside.left
{
  float: left;
  margin-right: 40px;
}

.left img,.right img 
{
  border-radius: 10px;
}

.kvs img
{
  border-radius: 50%;
  text-align: center;


}

/*
 * footer Styles
*/

.footer
{
  width: 750px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  background: #96489c;
  margin: 100px auto;
  border-radius: 20px;

}
.space a
{
  margin-top: 30px;
}
.logo a
{
  padding: 20px 20px 0 20px;
  text-decoration: none;
}